/* CSS declarations go here */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
div {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
}

.timer {
    cursor: pointer;
    display: block;
    height: auto;
    font-size: 3rem;
    margin: auto;
    text-align: center;
    width: auto;
}

.timer__previous {
    color: grey;
    font-size: 1rem;
}
